---
interface Props  {

    titulo: string;
    contenido: string;
    src: string;

}
    const {titulo, contenido, src} = Astro.props;

---

<div class=" bg-slate-900 rounded-xl shadow-sm md:text-left">
    <img src=`${src}` alt="imagen de compañia en la que he trabajado" class=" rounded-t-xl">
    <h4 class=" px-5 pt-5 text-xl">{titulo}</h4>
    <p class=" px-5 pt-3 pb-5 text-lg text-blue-500">{contenido}</p>

</div>