---
    interface Props{
        titulo: string;
        href: string;
        
    }

    const {titulo, href} = Astro.props;
---

    <div class="container-fluid  min-h-96 bg-slate-950 flex flex-col items-center  justify-around">
        <h1 class=" text-5xl px-10 pt-10 text-center" >{titulo}</h1>
        <div class="p-10  container max-w-7xl grid grid-cols-1 lg:grid-cols-3 mt-10 mx-20 gap-6">
            <div class="self-center">
                <h2 class="text-3xl font-bold text-center lg:text-left">Consultor SEO Freelancer:</h2>
                <p class="mt-5 text-xl text-center lg:text-left">Diseñamos estrategias SEO a medida adaptadas a tu negocio y tus principales verticales de empresariales. </p>
            </div>
            <img class=" hover:-translate-y-2 duration-200 shadow-md shadow-white rounded-3xl justify-self-center self-center place-self-center text-center" src=`${href}` height="450" width="300" alt="">
            <div class="flex lg:flex-col justify-around lg:justify-center text-center items-center">
                <button class="hover:-translate-y-2 duration-200 px-5 py-3 mx-5 md:mx-0 rounded-full bg-blue-600 hover:bg-blue-500 uppercase">Reservar consulta</button>
                <a target="_blank" href="https://www.linkedin.com/in/albert-sort-martinez/"><button class="hover:-translate-y-2 duration-200 lg:mt-5 px-10 py-3 rounded-full bg-white hover:bg-slate-200 text-blue-600 uppercase">Ver Linkedin</button></a>
            </div>
        </div>
    </div>
    

    <style>
        
    </style>