---

---

<header class="px-2 gap-2 container-fluid grid grid-cols-3 min-h-20  items-center justify-between align-middle bg-gradient-to-r from-slate-800 to-black">
    <div>
        <span class=" text-4xl"><b class=" text-blue-700">S</b>eo<b class=" text-blue-700">W</b>eb<b class=" text-blue-700">H</b>ub</span>
    </div>
    <div class=" lg:col-span-2 ">
        <nav>
            <ul class=" lg:flex gap-5 hidden items-center justify-center text-2xl">
                <li><a href="/diseno-web">Diseño Web</a></li>
                <li><a href="/src/pages/seo.html">Consultoría SEO</a></li>
                <li><a href="/src/pages/contacto.html">Contacto</a></li>
                <li><a href="/src/pages/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="dropdown ">
            <button class="dropdown-button p-5 cursor-pointer lg:hidden" id="burguerButton" role="button" aria-label="menu"><img src="/img/icons/menu-svgrepo-com.svg" width="30" height="30" alt="hamburger menu for movile"></button>
            <div class="dropdown-text  rounded absolute hidden" id="burguerMenu">
                <ul class=" list-none bg-slate-900 rounded  flex flex-col w-full transition-all delay-100">
                    <a href="/diseno-web"><li class="py-2 px-8 border-b border-black hover:bg-slate-600">Diseño Web</li></a>
                    <a href="/src/pages/seo.html"><li class="py-2 px-8 border-b border-black hover:bg-slate-600">Consultoría SEO</li></a>
                    <a href="/src/pages/contacto.html"></a><li class="py-2 px-8 border-b border-black hover:bg-slate-600">Contacto</li></a>
                    <a href="/src/pages/nosotros.html"></a><li class="py-2 px-8 border-b border-black hover:bg-slate-600">Nosotros</li></a>
                </ul>
            </div>
        </div>
    </div>
</header>
<script>
    let burguerButton = document.getElementById('burguerButton');
    let burguerMenu = document.getElementById('burguerMenu');

    burguerButton.addEventListener('click', function(){
        burguerMenu.classList.toggle('hidden');
    })
</script>

<style>
   .dropdown-text{
    width:100% !important;
    right: 0;
   }
</style>