---
---
<header class=" gap-2 container-fluid grid grid-cols-3 min-h-20  items-center justify-between text-center bg-gradient-to-r from-slate-800 to-black">
    <div>
        <span class=" text-2xl"><b class=" text-blue-700">S</b>eo<b class=" text-blue-700">W</b>eb<b class=" text-blue-700">H</b>ub</span>
    </div>
    <div>
        <nav>
            <ul class=" md:flex gap-5 hidden">
                <li><a href="/SeoWebHub/src/pages/diseno_web.html">Diseño Web</a></li>
                <li><a href="/SeoWebHub/src/pages/seo.html">Consultoría SEO</a></li>
                <li><a href="/SeoWebHub/src/pages/contacto.html">Contacto</a></li>
                <li><a href="/SeoWebHub/src/pages/nosotros.html">Nosotros</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="dropdown ">
            <button class="dropdown-button p-5 md:hidden"><i class="fa-solid fa-bars"></i></button>
            <div class="dropdown hidden">
                <ul class=" list-none">
                    
                </ul>
            </div>
        </div>
    </div>
</header>