---
---
<header class=" gap-2 container-fluid grid grid-cols-2 md:grid-cols-3 min-h-20 bg-black items-center justify-between text-center">
    <div>
        <span class=" text-2xl">SeoWebHub</span>
    </div>
    <div>a</div>
    <div>b</div>
</header>